/* ! --------- 左侧菜单栏样式  */

.sideBar {
    height: 100%;
    width: 15%;
    position: fixed;
    left: -3px;
    top: 37px;
    background-color: rgb(206, 100, 7);
    border-right: solid 5px #ccc;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: -999;
}

.sideBar::-webkit-scrollbar {
    width: 8px;
}

.sideBar::-webkit-scrollbar-thumb {
    background-color: rgba(204, 204, 204, 0.3);
}

.hidden {
    display: none;
}

.focus {
    background-color: rgba(204, 204, 204, 0.3);
}

ul {
    padding: 5px;
}

.tree_view_node {
    white-space: nowrap;
}

.node__content {
    padding: 2px 0px 2px 5px;
    font-size: 12px;
}

.node__content:hover {
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.3);
}