/* ! --------- 全局标准样式  */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ccc;
}
/* ! --------- 编辑器容器样式  */
.editor {
    height: 100%;
    width: 85%;
    position: fixed;
    right: 0;
    top: 63px;
    background-color: black;
}
/* ! --------- 打开的文件tab栏样式  */

.filetab_part {
    height: 25px;
    width: 85%;
    position: fixed;
    top: 35px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.850);
    border-top: solid 3px #ccc;
    border-bottom: .1px solid #747474;
}

.filetab_ul {
    display: flex;
    font-size: 12px;
    color: azure;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: black;
}


.filetab_ul div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filetab_ul .filetab_item {
    box-sizing: border-box;
    height: 100%;
    padding: 0px 10px;
    border-right: .1px solid #747474;
    cursor: pointer;
}


.filetab_item:hover {
    background-color: #1e1e1e;
}

.filetab_ul .focus {
    border-top: 4px solid rgb(30, 128, 255);
    background-color: #1e1e1e;
}

.file_name {
    min-width: 30px;
}

.close_button {
    width: 15px;
    height: 15px;
    line-height: 15px;
}

.close_button:hover {
    background-color: #3d3d3d;
    border-radius: 2px;
}
/* ! --------- 左侧菜单栏样式  */

.sideBar {
    height: 100%;
    width: 15%;
    position: fixed;
    left: -3px;
    top: 37px;
    background-color: rgb(206, 100, 7);
    border-right: solid 5px #ccc;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: -999;
}

.sideBar::-webkit-scrollbar {
    width: 8px;
}

.sideBar::-webkit-scrollbar-thumb {
    background-color: rgba(204, 204, 204, 0.3);
}

.hidden {
    display: none;
}

.focus {
    background-color: rgba(204, 204, 204, 0.3);
}

ul {
    padding: 5px;
}

.tree_view_node {
    white-space: nowrap;
}

.node__content {
    padding: 2px 0px 2px 5px;
    font-size: 12px;
}

.node__content:hover {
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.3);
}
/* ! --------- 终端样式  */

.terminal_part {
    height: 20%;
    width: 85%;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: black;
    border-top: solid 3px #ccc;
}

/* 给终端额外定制滚动条 */
.xterm-viewport {
    padding-left: 2px;
}

.xterm-screen {
    padding-left: 4px;
    padding-top: 2px;
}

.xterm-viewport::-webkit-scrollbar {
    width: 8px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    background-color: rgba(204, 204, 204, 0.3);
}
/* ! --------- 顶部菜单栏样式  */
.titleBar {
    height: 35px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: brown;
    border-bottom: solid 3px #ccc;
}

