/*
 * @Author: Luzy
 * @Date: 2023-08-22 17:47:37
 * @LastEditors: Luzy
 * @LastEditTime: 2023-08-28 16:36:47
 * @Description: 
 */

/* ! 现在所有的css先写在这里  之后需要拆分 */

/* ! --------- 全局标准样式  */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.editor {
    height: 100%;
    width: 85%;
    position: fixed;
    right: 0;
    top: 43px;
    background-color: black;
}

.sideBar {
    height: 100%;
    width: 15%;
    position: fixed;
    left: -3px;
    top: 43px;
    background-color: rgb(206, 100, 7);
    border-right: solid 3px #ccc;
}

.titleBar {
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: brown;
    border-bottom: solid 3px #ccc;
}

.terminal_part {
    height: 20%;
    width: 85%;
    position: fixed;
    right: 0;
    bottom: 0;
    border-top: solid 3px #ccc;
    background-color: black;
}

/* 给终端额外定制滚动条 */
.xterm-viewport {
    padding-left: 2px;
}

.xterm-screen {
    padding-left: 4px;
    padding-top: 2px;
}

.xterm-viewport::-webkit-scrollbar {
    width: 8px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    background-color: rgba(204, 204, 204, 0.3);
    ;
}

/* ! --------- 左侧菜单栏样式  */

.hidden {
    display: none;
}

.focus {
    background-color: rgba(204, 204, 204, 0.3);
}

ul {
    padding: 5px;
}

.node__name {
    font-size: small;
}

.node__content:hover {
    background-color: rgba(204, 204, 204, 0.3);
}